* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --frame-borders: 0px;
}

a {
    color: #61afee;
    text-decoration: none;
}

.outer-container {
    border: var(--frame-borders) solid green;
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header-container {
    border: var(--frame-borders) solid red;
    margin: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
}

.body-container {
    border: var(--frame-borders) solid purple;
    margin: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.footer-container {
    border: var(--frame-borders) solid red;
    margin: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.title {
    border: var(--frame-borders) solid blue;
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-image {
    width: 100%;
}

.main-links {
    border: var(--frame-borders) solid yellow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    gap: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Each link box in the header */
.links-box {
    border: var(--frame-borders) solid green;
    outline: 5px solid black;
    box-shadow: -7px 7px 10px rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(26, 138, 230, .5);
    border-radius: 22px;
    overflow: hidden;
}

.links-box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.big-image {
    width: 80%;
}

.icon-small {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Popup translucent background behind the floating link box */
.popup-trans-bg {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.floating-popup-box {
    border: var(--frame-borders) solid orange;
    min-width: 300px;
    max-width: 90%;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    padding: 1em;
    border: 10px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 30px white;
}

.flb-title {
    font-size: 2em;
    font-weight: bold;
    border: var(--frame-borders) solid green;
    width: 100%
}

.flb-link {
    border: var(--frame-borders) solid blue;
    font-size: 1.5em;
    font-weight: bold;
    margin: .5em 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.input-field-general {
    width: 350px;
}

.input-textarea {
    height: 100px;
}



/*
For inner content layout inside body-container
*/
.inner-content {
    border: var(--frame-borders) solid orange;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 20px; */
    width: 100%;
}

.inner-content-title {
    border: var(--frame-borders) solid purple;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

.inner-content-subtitle {
    border: var(--frame-borders) solid blue;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1em;
}

.inner-content-centered {
    border: var(--frame-borders) solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inner-content-left-aligned {
    border: var(--frame-borders) solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}









@media screen and (max-width: 1000px) {
    .title {
        justify-content: center;
        width: 100%;
    }

    .header-container {
        flex-direction: column;
    }

    .main-links {
        justify-content: center;
        gap: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .title-image {
        max-width: 380px;
    }

    .links-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75px;
        height: 75px;
        text-align: center;
        border-radius: 10px;
        outline: 3px solid black;
    }
}