* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --frame-borders: 0pt;
}

a {
    color: #61afee;
    text-decoration: none;
}

.header-container {
    border: var(--frame-borders) solid red;
    margin: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 100px; */
}

.body-container {
    border: var(--frame-borders) solid purple;
    margin: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.footer-container {
    border: var(--frame-borders) solid red;
    margin: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.title {
    border: var(--frame-borders) solid blue;
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title-image {
    width: 100%;
}

.main-links {
    border: var(--frame-borders) solid yellow;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* width: 100%; */
    /* height: 100%; */
    gap: 20px;
}

.link-box {
    border: var(--frame-borders) solid green;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-image {
    width: 80%;
}

.floating-link-box {
    border: var(--frame-borders) solid orange;
    width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    padding: 1em;
    border: 10px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 0px 30px white;
}

.flb-title {
    font-size: 2em;
    font-weight: bold;
    border: var(--frame-borders) solid green;
    width: 100%
}

.flb-link {
    border: var(--frame-borders) solid blue;
    font-size: 1.5em;
    font-weight: bold;
    margin: .5em 0 0 0;
}

#social-links {
    display: none;
}










@media screen and (max-width: 1000px) {
    .title {
        justify-content: center;
        width: 100%;
    }

    .header-container {
        flex-direction: column;
    }

    .main-links {
        justify-content: center;
    }
}